.nr-new-task-form {

  &--right {
    text-align: right;
  }

  div &__button:not(:disabled),
  div &__button:hover:not(:disabled) {
    background-color: var(--main-success-color);

    span {
      color: var(--light-text-color);
    }
  }

  &__input {
    width: 100%;
  }
}